*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* font-family: 'Akaya Kanadaka', cursive; */
}

body
{
    background-color: #fca5a5;
    padding-bottom: 20px;
}

/* bg */
.fonts
{
    font-family: 'Akaya Kanadaka', cursive;
    font-style: italic;
    text-decoration: underline;
}

/* mainmenu */
.containermenu
{
    transform: translateY(0px);
    transition: all 1s;
     /* width: 60%;  */
    width: 250px;  
    position: fixed;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 1000;
    background-color: rgba(96, 165, 250, 0.6);
}

.containermenu:hover
{
    width: 60%;
}

.containermenu h1
{
    font-family: 'Akaya Kanadaka', cursive;
    transition: .5s;
    z-index: 2;
}

.containermenu:hover h1
{
    color: rgba(0, 0, 0, 0.8);
}

.underline 
{
    position: absolute;
    width: 0px;
    height: 4px;
    bottom: 5px;
    left: 1.5rem;
    z-index: 1;
    opacity: 0;
    transition: all 1s;
    border-radius: 0 4px 4px 0;
}

.containermenu:hover .underline
{
    opacity: 1;
    width: 115px;
    background-color: white;
}

ul
{
    height: 2.5rem;
}

ul li
{
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    width: 80px;
    background-color: rgba(191, 219, 254, 0.7);
    height: calc(2.5rem - 3px);
    transition: 0.4s;
    margin-top: 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 5px;
    z-index: 0;
}

ul li:hover:nth-child(1) 
{
    margin-top: 3px;
    background-color: #f87171;
    font-weight: 700;
    color: white;
}

ul li:hover:nth-child(1) svg
{
    fill: white;
}

ul li:hover:nth-child(2) 
{
    margin-top: 3px;
    background-color: #34d399;
    font-weight: 700;
    color: white;
}

ul li:hover:nth-child(2) svg
{
    fill: white;
}

ul li:hover:nth-child(3) 
{
    margin-top: 3px;
    background-color: #fcd34d;
    font-weight: 700;
    color: white;
    fill: white;
}

ul li:hover:nth-child(3) svg
{
    fill: white;
}

/* about me */
.containerme
{
    opacity: 1;
    width: 300px;
    height: 230px;
    background-color: rgba(255, 255, 255, 0.4);
    overflow: hidden;
    z-index: 1;
    border-radius: 0 5px 50px 20px;
    transition: 1.5s;
    transition-delay: 0.95s;
    margin-top: 176px;
    margin-left: 320px;
}

.containerme::before
{
    content: "";
    position: absolute;
    width: 500px;
    height: 230px;
    background-color: #fca5a5;
    clip-path: circle(150px at 10% -20%);
    transition: 1s;
}

.containerme:hover::before
{
    clip-path: circle(300px at 10% -10%);
}

.containerme:hover
{
    transition-delay: 0s;
    width: 60%;
    opacity: 1;
    border: 4px solid #fca5a5;
}

.data h1
{
    font-family: 'Akaya Kanadaka', cursive;
    opacity: 1;
    transform: translateY(40px);
    transition: 1s;
}

.containerme:hover .data h1
{
    transform: translateY(0px);
    color: black;
}

.data p
{
    font-family: 'Akaya Kanadaka', cursive;
    opacity: 0;
    transform: translateX(-150px);
    transition: 1.5s;
    font-size: 20px;
    transition-delay: 0s;
}

.containerme:hover .data p
{
    transition-delay: 0.95s;
    opacity: 1;
    transform: translateX(0px);
}

.imageme
{
    transition: 0.5s;
    transform: translateY(60px);
}

.imageme:hover
{
    transform: scale(1.4);
}

/* my history */
.containerhis
{
    font-family: 'Akaya Kanadaka', cursive;
    width: 60%;
    height: 770px;
    top: 400px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0 30px 0 30px;
}

.containerhis h1
{
    font-family: 'Akaya Kanadaka', cursive; 
    text-decoration: underline;
    margin-top: 15px;
    margin-left: 20px;
}

.bgcircle svg
{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 10;
}

.bgcircle svg circle
{
    width: 100%;
    height: 100%;
    fill:none;
    stroke: rgba(255, 255, 255, 0.6);
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px,5px);
}

.cir:nth-child(1) svg circle:nth-child(2)
{
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - 440 * 1 / 100);
    stroke: #f87171;
    transition: 1s;
}

.cir:nth-child(1):hover svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - 440 * 72 / 100);
}

.cir:nth-child(1):hover .per1
{
    transform: scale(1.5);
    color: #f87171;
}

h2
{
    transition: 0.75s;
}

.cir:nth-child(1):hover h2
{
    color: #f87171;
    text-decoration: underline;
}

.cir:nth-child(2) svg circle:nth-child(2)
{
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - 440 * 1 / 100);
    stroke: #34d399;
    transition: 1s;
}

.cir:nth-child(2):hover svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - 440 * 60 / 100);
}

.cir:nth-child(2):hover .per2
{
    transform: scale(1.5);
    color: #34d399;
}

.cir:nth-child(2):hover h2
{
    color: #34d399;
    text-decoration: underline;
}

.cir:nth-child(3) svg circle:nth-child(2)
{
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - 440 * 1 / 100);
    stroke: #fcd34d;
    transition: 1s;
}

.cir:nth-child(3):hover svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - 440 * 36 / 100);
}

.cir:nth-child(3):hover .per3
{
    transform: scale(1.5);
    color: #fcd34d;
}

.cir:nth-child(3):hover h2
{
    color: #fcd34d;
    text-decoration: underline;
}

.cir:nth-child(1)
{
    border-radius: 80px 0 0 80px;
}

.cir:nth-child(2)
{
    border-radius: 0 80px 80px 0;
}

.cir:nth-child(3)
{
    border-radius: 80px 0 0 80px;
}

.per1
{
    position: absolute;
    top: 165px;
    left: 110px;
    font-size: 45px;
    transition: 1.5s;
}

.per2
{
    position: absolute;
    top: 380px;
    left: 630px;
    font-size: 45px; 
    transition: 1.5s;
}

.per3
{
    position: absolute;
    top: 585px;
    left: 110px;
    font-size: 45px;
    transition: 1.5s;
}














